$blackMain: #262626;
$blackSecundary: #363636;
$colorFont: #f8f8f8;
$colorGreen: #217346;
$colorRed: #cc060c;
$colorYellow: #ffcc00;

//font-family: 'PT Sans', sans-serif;
$fontMain: 'Nunito Sans', sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: $fontMain;
	background-color: $blackMain;
	color: $colorFont;
	//font-family: 'Delicious Handrawn', cursive;
	font-weight: 300;
	height: 100vh;
	@import './alert';

	.app {
		max-width: 1920px;
		//background-color: yellow;
		height: 100vh;
		@import './navbar';

		@import './main';

		.homeUser {
			.topBar {
				background-color: $blackSecundary;
				width: 100%;
				height: 52px;
				max-height: 52px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
				padding: 5px 20px;

				h2 {
					text-transform: uppercase;
					span {
						color: $colorGreen;
						font-size: 30px;
					}
				}

				.user-info {
					font-size: 20px;
					span {
						color: $colorGreen;
						font-size: 17px;
					}
				}

				.botonera {
					display: inline-flex;
					p {
						font-size: 20px;
						margin: 0px 5px;
						cursor: pointer;
						transition: 0.5s ease;

						&:hover {
							color: $colorGreen;
						}
					}
				}
			}
			.containerOutlet {
				height: calc(100vh - 52px);
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;

				form {
					width: 300px;
					input {
						width: 100%;
						padding: 30px;
						border: 2px solid $colorGreen;
					}
				}
			}
		}
	}
}
