$blackMain: #262626;
$blackSecundary: #363636;
$colorFont: #f8f8f8;
$colorGreen: #217346;
$colorRed: #cc060c;
$colorYellow: #ffcc00;

//font-family: 'PT Sans', sans-serif;
$fontMain: 'Nunito Sans', sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: $fontMain;
	background-color: $blackMain;
	color: $colorFont;
	//font-family: 'Delicious Handrawn', cursive;
	font-weight: 300;
	height: 100vh;
	@import './alert';

	.app {
		max-width: 1920px;
		//background-color: yellow;
		height: 100vh;
		@import './navbar';

		@import './main';

		@import './homeuser';
	}
}
